body {
    display: grid;
    grid-template-areas:
    "header header header"
    "nav article ads"
    "footer footer footer";
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 15% 1fr 15%;
    /* grid-gap: 4px; */
    height: 100vh;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    }
    #pageHeader {
    grid-area: header;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.575);
    }
    #pageHeader h1{
        text-shadow: -1px 0 1px white, 0 -1px 1px white, 0 1px 1px white, 1px 0 1px white, 0 0 8px white, 0 0 8px white, 0 0 8px white, 2px 2px 3px black;
   font-size: 35px;
    }
    #mainArticle {
        grid-area: article;
        background-color: rgba(128, 128, 128, 0.164);
        text-indent: 1.5em;
        text-align: justify;
        padding: 10px 40px 10px 40px;
        }
        #mainArticle {
            line-height: 1.5; 
        }
        .myMenu {
            display: grid;
            grid-template-areas:
            "nav"
            "nav"
            "nav"
            "nav";
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        margin: 0;
        align-items:stretch;
        justify-items:center;
    }
    .panel{
        align-self: stretch;
        justify-self:center;  
    }
    #mainNav {
        grid-area: nav;
        background-color: rgba(128, 128, 128, 0.089);
        }
        #mainNav ul li {
            list-style-type: none;
            margin: 30px;
            font-size: 20px;
            padding-bottom: 40px;
        }
        #mainNav ul li a{
            text-decoration: none;
            color: black;
        }
        #mainNav ul li a:hover{
            color: rgba(219, 68, 22, 0.829);
        }
        #siteBar {
            grid-area: ads;
            background-color: rgba(128, 128, 128, 0.089);
            }
            #siteBar ul li{
                list-style-type: none;
                margin: 30px;
                padding-bottom: 40px;
                font-size: 20px;
            }
            #siteBar ul li a{
                text-decoration: none;
                color: black;
            }
            #siteBar ul li a:hover{
                color: rgba(219, 68, 22, 0.829);
            }
    #pageFooter {
    grid-area: footer;
    text-align: center;
    padding-top: 35px;
    background-color: rgba(128, 128, 128, 0.705);
    }
    

    
   